In [2]:
import numpy as np
import pandas as pd

# CSV

In [17]:
df = pd.read_csv('Data/btc-market-price.csv',
                 header=None,
                 na_values=['-', '?', ''],
                 names=['Timestamp', 'Price'],
                 parse_dates=[0],
                 dtype={'Price': 'float32'},
                 index_col='Timestamp'
                )
df.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_15968\551544904.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('Data/btc-market-price.csv',

                  Price
Timestamp
2017-02-04  1099.169067
2017-03-04  1141.812988
2017-04-04          NaN
2017-05-04  1133.079346
2017-06-04          NaN

In [15]:
df.dtypes

Timestamp    datetime64[ns]
Price               float32
dtype: object

### Example 2

In [21]:
df = pd.read_csv('Data/exam_review.csv',
                 sep='>',
                 decimal=','
                )
df.head()

  first_name last_name  age  math_score  french_score
0        Ray    Morley   18        68.0          75.0
1     Melvin     Scott   24        77.0          83.0
2     Amirah     Haley   22        92.0          67.0
3     Gerard     Mills   19        78.0          72.0
4        Amy    Grimes   23        91.0          81.0

In [28]:
df = pd.read_csv('Data/exam_review.csv',
                 sep='>',
                 thousands=',',
                 skiprows=[1, 2],
                 usecols=[0, 1, 3]
                )
df.head()

  first_name last_name  math_score
0     Amirah     Haley          92
1     Gerard     Mills       78000
2        Amy    Grimes          91

In [29]:
df.dtypes

first_name    object
last_name     object
math_score     int64
dtype: object

### Load remote csv file

In [30]:
url = 'https://www.stats.govt.nz/assets/Uploads/Balance-of-payments/BoPIIP-September-2023-quarter/Download-data/balance-of-payments-and-international-investment-position-september-2023-quarter.csv'

In [32]:
df = pd.read_csv(url)

In [33]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
0,BOPQ.S06AC000000000A,1971.06,426.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
1,BOPQ.S06AC000000000A,1971.09,435.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
2,BOPQ.S06AC000000000A,1971.12,360.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
3,BOPQ.S06AC000000000A,1972.03,417.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
4,BOPQ.S06AC000000000A,1972.06,528.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
...,...,...,...,...,...,...,...,...,...,...
206609,IIPA.S06ALDDDDPO7706,2019.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206610,IIPA.S06ALDDDDPO7706,2020.03,0.0,NaN,F,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206611,IIPA.S06ALDDDDPO7706,2021.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206612,IIPA.S06ALDDDDPO7706,2022.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206613,IIPA.S06ALDDDDPO7706,2023.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual

### Write to csv

In [36]:
df.to_csv('new_csv_file.csv', index=None, sep=';')

In [38]:
pd.read_csv('new_csv_file.csv', sep=';')

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
0,BOPQ.S06AC000000000A,1971.06,426.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
1,BOPQ.S06AC000000000A,1971.09,435.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
2,BOPQ.S06AC000000000A,1971.12,360.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
3,BOPQ.S06AC000000000A,1972.03,417.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
4,BOPQ.S06AC000000000A,1972.06,528.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
...,...,...,...,...,...,...,...,...,...,...
206609,IIPA.S06ALDDDDPO7706,2019.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206610,IIPA.S06ALDDDDPO7706,2020.03,0.0,NaN,F,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206611,IIPA.S06ALDDDDPO7706,2021.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206612,IIPA.S06ALDDDDPO7706,2022.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
206613,IIPA.S06ALDDDDPO7706,2023.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual

# JSON

In [40]:
games = pd.read_json('Data/games.json')
games

,title,price,content_rating_img,release_date,provider,genre,image
0,Call of Duty®: WWII + Destiny 2 - Lote,"129,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Dic 21 2018,Activision Blizzard Int'l BV,Shooter,https://store.playstation.com/store/api/chihir...
1,God of War® Digital Deluxe Edition,"69,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Abr 20 2018,Sony Interactive Entertainment Europe,Acción,https://store.playstation.com/store/api/chihir...
2,Far Cry 5,"69,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Mar 27 2018,UBISOFT ENTERTAINMENT SA,Aventura,https://store.playstation.com/store/api/chihir...
3,Far Cry 5 Edición Deluxe,"79,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Mar 27 2018,UBISOFT ENTERTAINMENT SA,Aventura,https://store.playstation.com/store/api/chihir...
4,Far Cry 5 Edición Oro,"89,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Mar 27 2018,UBISOFT ENTERTAINMENT SA,Aventura,https://store.playstation.com/store/api/chihir...
...,...,...,...,...,...,...,...
188,Riptide GP Bundle,"12,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Nov 23 2017,Paquete 23 Nov 2017,Acción,https://store.playstation.com/store/api/chihir...
189,Vector Unit Triple Pack,"19,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Nov 23 2017,Paquete 23 Nov 2017,Acción,https://store.playstation.com/store/api/chihir...
190,Wuppo: Soundtrack,"9,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Nov 23 2017,Juego PSN 23 Nov 2017,Acción,https://store.playstation.com/store/api/chihir...
191,Battle of the Bulge,"6,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Nov 22 2017,Slitherine,Estrategia,https://store.playstation.com/store/api/chihir...
192,Discovery,"11,99 €",https://cdn-a.sonyentertainmentnetwork.com/grc...,Nov 22 2017,Juego PSN 22 Nov 2017\n1 Calificaciones,Acción,https://store.playstation.com/store/api/chihir...

### Nested json example

In [41]:
users = pd.read_json('Data/users.json')

In [42]:
users.head()

                                                info
0  {'id': 1, 'name': 'Leanne Graham', 'username':...
1  {'id': 2, 'name': 'Ervin Howell', 'username': ...
2  {'id': 3, 'name': 'Clementine Bauch', 'usernam...
3  {'id': 4, 'name': 'Patricia Lebsack', 'usernam...
4  {'id': 5, 'name': 'Chelsey Dietrich', 'usernam...

In [43]:
import json

In [44]:
with open('Data/users.json') as file:
    users_dict = json.load(file)

In [45]:
users_dict

{'info': [{'id': 1,
   'name': 'Leanne Graham',
   'username': 'Bret',
   'email': 'Sincere@april.biz',
   'address': [{'street': 'Kulas Light',
     'suite': 'Apt. 556',
     'city': 'Gwenborough',
     'zipcode': '92998-3874',
     'geo': {'lat': '-37.3159', 'lng': '81.1496'}}],
   'phone': '1-770-736-8031 x56442',
   'website': 'hildegard.org',
   'company': {'name': 'Romaguera-Crona',
    'catchPhrase': 'Multi-layered client-server neural-net',
    'bs': 'harness real-time e-markets'}},
  {'id': 2,
   'name': 'Ervin Howell',
   'username': 'Antonette',
   'email': 'Shanna@melissa.tv',
   'address': [{'street': 'Victor Plains',
     'suite': 'Suite 879',
     'city': 'Wisokyburgh',
     'zipcode': '90566-7771',
     'geo': {'lat': '-43.9509', 'lng': '-34.4618'}}],
   'phone': '010-692-6593 x09125',
   'website': 'anastasia.net',
   'company': {'name': 'Deckow-Crist',
    'catchPhrase': 'Proactive didactic contingency',
    'bs': 'synergize scalable supply-chains'}},
  {'id': 3,
   'name': 'Clementine Bauch',
   'username': 'Samantha',
   'email': 'Nathan@yesenia.net',
   'address': [{'street': 'Douglas Extension',
     'suite': 'Suite 847',
     'city': 'McKenziehaven',
     'zipcode': '59590-4157',
     'geo': {'lat': '-68.6102', 'lng': '-47.0653'}}],
   'phone': '1-463-123-4447',
   'website': 'ramiro.info',
   'company': {'name': 'Romaguera-Jacobson',
    'catchPhrase': 'Face to face bifurcated interface',
    'bs': 'e-enable strategic applications'}},
  {'id': 4,
   'name': 'Patricia Lebsack',
   'username': 'Karianne',
   'email': 'Julianne.OConner@kory.org',
   'address': [{'street': 'Hoeger Mall',
     'suite': 'Apt. 692',
     'city': 'South Elvis',
     'zipcode': '53919-4257',
     'geo': {'lat': '29.4572', 'lng': '-164.2990'}}],
   'phone': '493-170-9623 x156',
   'website': 'kale.biz',
   'company': {'name': 'Robel-Corkery',
    'catchPhrase': 'Multi-tiered zero tolerance productivity',
    'bs': 'transition cutting-edge web services'}},
  {'id': 5,
   'name': 'Chelsey Dietrich',
   'username': 'Kamren',
   'email': 'Lucio_Hettinger@annie.ca',
   'address': [{'street': 'Skiles Walks',
     'suite': 'Suite 351',
     'city': 'Roscoeview',
     'zipcode': '33263',
     'geo': {'lat': '-31.8129', 'lng': '62.5342'}}],
   'phone': '(254)954-1289',
   'website': 'demarco.info',
   'company': {'name': 'Keebler LLC',
    'catchPhrase': 'User-centric fault-tolerant solution',
    'bs': 'revolutionize end-to-end systems'}},
  {'id': 6,
   'name': 'Mrs. Dennis Schulist',
   'username': 'Leopoldo_Corkery',
   'email': 'Karley_Dach@jasper.info',
   'address': [{'street': 'Norberto Crossing',
     'suite': 'Apt. 950',
     'city': 'South Christy',
     'zipcode': '23505-1337',
     'geo': {'lat': '-71.4197', 'lng': '71.7478'}}],
   'phone': '1-477-935-8478 x6430',
   'website': 'ola.org',
   'company': {'name': 'Considine-Lockman',
    'catchPhrase': 'Synchronised bottom-line interface',
    'bs': 'e-enable innovative applications'}},
  {'id': 7,
   'name': 'Kurtis Weissnat',
   'username': 'Elwyn.Skiles',
   'email': 'Telly.Hoeger@billy.biz',
   'address': [{'street': 'Rex Trail',
     'suite': 'Suite 280',
     'city': 'Howemouth',
     'zipcode': '58804-1099',
     'geo': {'lat': '24.8918', 'lng': '21.8984'}}],
   'phone': '210.067.6132',
   'website': 'elvis.io',
   'company': {'name': 'Johns Group',
    'catchPhrase': 'Configurable multimedia task-force',
    'bs': 'generate enterprise e-tailers'}},
  {'id': 8,
   'name': 'Nicholas Runolfsdottir V',
   'username': 'Maxime_Nienow',
   'email': 'Sherwood@rosamond.me',
   'address': [{'street': 'Ellsworth Summit',
     'suite': 'Suite 729',
     'city': 'Aliyaview',
     'zipcode': '45169',
     'geo': {'lat': '-14.3990', 'lng': '-120.7677'}}],
   'phone': '586.493.6943 x140',
   'website': 'jacynthe.com',
   'company': {'name': 'Abernathy Group',
    'catchPhrase': 'Implemented secondary concept',
    'bs': 'e-enable extensible e-tailers'}},
  {'id': 9,
   'name': 'Glenna Reichert',
   'username': 'Delphine',
   'email': 'Chaim_McDermott@dana.io',
   'address': [{'street': 'Dayna Park',
     'suite': 'Suite 449',
     'city': 'Bartholomebury',
     'zipcode': '76495-3109',
     'geo': {'lat': '24.6463', 'lng': '-168.8889'}}],
   'phone': '(775)976-6794 x41206',
   'website': 'conrad.com',
   'company': {'name': 'Yost and Sons',
    'catchPhrase': 'Switchable contextually-based project',
    'bs': 'aggregate real-time technologies'}},
  {'id': 10,
   'name': 'Clementina DuBuque',
   'username': 'Moriah.Stanton',
   'email': 'Rey.Padberg@karina.biz',
   'address': [{'street': 'Kattie Turnpike',
     'suite': 'Suite 198',
     'city': 'Lebsackbury',
     'zipcode': '31428-2261',
     'geo': {'lat': '-38.2386', 'lng': '57.2232'}}],
   'phone': '024-648-3804',
   'website': 'ambrose.net',
   'company': {'name': 'Hoeger LLC',
    'catchPhrase': 'Centralized empowering task-force',
    'bs': 'target end-to-end models'}}]}

In [46]:
type(users_dict)

dict

In [47]:
users = pd.DataFrame.from_dict(users_dict['info'])

In [48]:
users.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"[{'street': 'Kulas Light', 'suite': 'Apt. 556'...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"[{'street': 'Victor Plains', 'suite': 'Suite 8...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"[{'street': 'Douglas Extension', 'suite': 'Sui...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"[{'street': 'Hoeger Mall', 'suite': 'Apt. 692'...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"[{'street': 'Skiles Walks', 'suite': 'Suite 35...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [50]:
users = pd.json_normalize(users_dict['info'], sep='_')
users.head()

,id,name,username,email,address,phone,website,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,"[{'street': 'Kulas Light', 'suite': 'Apt. 556'...",1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"[{'street': 'Victor Plains', 'suite': 'Suite 8...",010-692-6593 x09125,anastasia.net,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"[{'street': 'Douglas Extension', 'suite': 'Sui...",1-463-123-4447,ramiro.info,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"[{'street': 'Hoeger Mall', 'suite': 'Apt. 692'...",493-170-9623 x156,kale.biz,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"[{'street': 'Skiles Walks', 'suite': 'Suite 35...",(254)954-1289,demarco.info,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

In [51]:
address = pd.json_normalize(users_dict, sep='_', record_path=['info', 'address'])
address.head()

,street,suite,city,zipcode,geo_lat,geo_lng
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342

In [52]:
users.drop('address', axis=1, inplace=True)

In [53]:
users.join(address)

,id,name,username,email,phone,website,company_name,company_catchPhrase,company_bs,street,suite,city,zipcode,geo_lat,geo_lng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,1-477-935-8478 x6430,ola.org,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,210.067.6132,elvis.io,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,586.493.6943 x140,jacynthe.com,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,(775)976-6794 x41206,conrad.com,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,024-648-3804,ambrose.net,Hoeger LLC,Centralized empowering task-force,target end-to-end models,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232

In [55]:
users = pd.concat([users.iloc[:, :4], address, users.iloc[:, 4:]], axis=1)

In [56]:
users

,id,name,username,email,street,suite,city,zipcode,geo_lat,geo_lng,phone,website,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,010-692-6593 x09125,anastasia.net,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,1-463-123-4447,ramiro.info,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,493-170-9623 x156,kale.biz,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,(254)954-1289,demarco.info,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,1-477-935-8478 x6430,ola.org,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,210.067.6132,elvis.io,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,586.493.6943 x140,jacynthe.com,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,(775)976-6794 x41206,conrad.com,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,024-648-3804,ambrose.net,Hoeger LLC,Centralized empowering task-force,target end-to-end models

### Save to json

In [57]:
users.to_json()

'{"id":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"name":{"0":"Leanne Graham","1":"Ervin Howell","2":"Clementine Bauch","3":"Patricia Lebsack","4":"Chelsey Dietrich","5":"Mrs. Dennis Schulist","6":"Kurtis Weissnat","7":"Nicholas Runolfsdottir V","8":"Glenna Reichert","9":"Clementina DuBuque"},"username":{"0":"Bret","1":"Antonette","2":"Samantha","3":"Karianne","4":"Kamren","5":"Leopoldo_Corkery","6":"Elwyn.Skiles","7":"Maxime_Nienow","8":"Delphine","9":"Moriah.Stanton"},"email":{"0":"Sincere@april.biz","1":"Shanna@melissa.tv","2":"Nathan@yesenia.net","3":"Julianne.OConner@kory.org","4":"Lucio_Hettinger@annie.ca","5":"Karley_Dach@jasper.info","6":"Telly.Hoeger@billy.biz","7":"Sherwood@rosamond.me","8":"Chaim_McDermott@dana.io","9":"Rey.Padberg@karina.biz"},"street":{"0":"Kulas Light","1":"Victor Plains","2":"Douglas Extension","3":"Hoeger Mall","4":"Skiles Walks","5":"Norberto Crossing","6":"Rex Trail","7":"Ellsworth Summit","8":"Dayna Park","9":"Kattie Turnpike"},"suite":{"0":"Apt. 556","1":"Suite 879","2":"Suite 847","3":"Apt. 692","4":"Suite 351","5":"Apt. 950","6":"Suite 280","7":"Suite 729","8":"Suite 449","9":"Suite 198"},"city":{"0":"Gwenborough","1":"Wisokyburgh","2":"McKenziehaven","3":"South Elvis","4":"Roscoeview","5":"South Christy","6":"Howemouth","7":"Aliyaview","8":"Bartholomebury","9":"Lebsackbury"},"zipcode":{"0":"92998-3874","1":"90566-7771","2":"59590-4157","3":"53919-4257","4":"33263","5":"23505-1337","6":"58804-1099","7":"45169","8":"76495-3109","9":"31428-2261"},"geo_lat":{"0":"-37.3159","1":"-43.9509","2":"-68.6102","3":"29.4572","4":"-31.8129","5":"-71.4197","6":"24.8918","7":"-14.3990","8":"24.6463","9":"-38.2386"},"geo_lng":{"0":"81.1496","1":"-34.4618","2":"-47.0653","3":"-164.2990","4":"62.5342","5":"71.7478","6":"21.8984","7":"-120.7677","8":"-168.8889","9":"57.2232"},"phone":{"0":"1-770-736-8031 x56442","1":"010-692-6593 x09125","2":"1-463-123-4447","3":"493-170-9623 x156","4":"(254)954-1289","5":"1-477-935-8478 x6430","6":"210.067.6132","7":"586.493.6943 x140","8":"(775)976-6794 x41206","9":"024-648-3804"},"website":{"0":"hildegard.org","1":"anastasia.net","2":"ramiro.info","3":"kale.biz","4":"demarco.info","5":"ola.org","6":"elvis.io","7":"jacynthe.com","8":"conrad.com","9":"ambrose.net"},"company_name":{"0":"Romaguera-Crona","1":"Deckow-Crist","2":"Romaguera-Jacobson","3":"Robel-Corkery","4":"Keebler LLC","5":"Considine-Lockman","6":"Johns Group","7":"Abernathy Group","8":"Yost and Sons","9":"Hoeger LLC"},"company_catchPhrase":{"0":"Multi-layered client-server neural-net","1":"Proactive didactic contingency","2":"Face to face bifurcated interface","3":"Multi-tiered zero tolerance productivity","4":"User-centric fault-tolerant solution","5":"Synchronised bottom-line interface","6":"Configurable multimedia task-force","7":"Implemented secondary concept","8":"Switchable contextually-based project","9":"Centralized empowering task-force"},"company_bs":{"0":"harness real-time e-markets","1":"synergize scalable supply-chains","2":"e-enable strategic applications","3":"transition cutting-edge web services","4":"revolutionize end-to-end systems","5":"e-enable innovative applications","6":"generate enterprise e-tailers","7":"e-enable extensible e-tailers","8":"aggregate real-time technologies","9":"target end-to-end models"}}'

In [58]:
users.to_json('new_users.json')

In [59]:
pd.read_json('new_users.json')

,id,name,username,email,street,suite,city,zipcode,geo_lat,geo_lng,phone,website,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,Kulas Light,Apt. 556,Gwenborough,92998-3874,-37.3159,81.1496,1-770-736-8031 x56442,hildegard.org,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,Victor Plains,Suite 879,Wisokyburgh,90566-7771,-43.9509,-34.4618,010-692-6593 x09125,anastasia.net,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,Douglas Extension,Suite 847,McKenziehaven,59590-4157,-68.6102,-47.0653,1-463-123-4447,ramiro.info,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,Hoeger Mall,Apt. 692,South Elvis,53919-4257,29.4572,-164.2990,493-170-9623 x156,kale.biz,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,Skiles Walks,Suite 351,Roscoeview,33263,-31.8129,62.5342,(254)954-1289,demarco.info,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,Norberto Crossing,Apt. 950,South Christy,23505-1337,-71.4197,71.7478,1-477-935-8478 x6430,ola.org,Considine-Lockman,Synchronised bottom-line interface,e-enable innovative applications
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,Rex Trail,Suite 280,Howemouth,58804-1099,24.8918,21.8984,210.067.6132,elvis.io,Johns Group,Configurable multimedia task-force,generate enterprise e-tailers
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,Ellsworth Summit,Suite 729,Aliyaview,45169,-14.3990,-120.7677,586.493.6943 x140,jacynthe.com,Abernathy Group,Implemented secondary concept,e-enable extensible e-tailers
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,Dayna Park,Suite 449,Bartholomebury,76495-3109,24.6463,-168.8889,(775)976-6794 x41206,conrad.com,Yost and Sons,Switchable contextually-based project,aggregate real-time technologies
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,-38.2386,57.2232,024-648-3804,ambrose.net,Hoeger LLC,Centralized empowering task-force,target end-to-end models

# Excel files

In [61]:
df = pd.read_excel('Data/products.xlsx', index_col='product_id')
df.head()

,price,merchant_id,brand,name
product_id,,,,
AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [62]:
merchants = pd.read_excel('Data/products.xlsx', sheet_name='Merchants', index_col='merchant_id')

In [63]:
merchants

                     merchant
merchant_id
1001              Bestbuy.com
1002              Walmart.com
1003              Bestbuy.com
1004                 Growkart
1005         bhphotovideo.com
...                       ...
1236              PRIMESELLER
1237                  Spy Tec
1238              Action Gear
1239            Overstock.com
1240                  unknown

[240 rows x 1 columns]

### ExcelFile class

In [64]:
excel_file = pd.ExcelFile('Data/products.xlsx')

In [65]:
excel_file.sheet_names

['Products', 'Descriptions', 'Merchants']

In [66]:
products = excel_file.parse('Products')
products.head()

,product_id,price,merchant_id,brand,name
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...

In [67]:
merchants = excel_file.parse('Merchants')
merchants.head()

   merchant_id          merchant
0         1001       Bestbuy.com
1         1002       Walmart.com
2         1003       Bestbuy.com
3         1004          Growkart
4         1005  bhphotovideo.com

In [68]:
df = products.merge(merchants)

In [69]:
df

,product_id,price,merchant_id,brand,name,merchant
0,AVphzgbJLJeJML43fA0o,104.99,1001,Sanus,Sanus VLF410B1 10-Inch Super Slim Full-Motion ...,Bestbuy.com
1,AVpgMuGwLJeJML43KY_c,69.00,1002,Boytone,Boytone - 2500W 2.1-Ch. Home Theater System - ...,Walmart.com
2,AVpe9FXeLJeJML43zHrq,23.99,1001,DENAQ,DENAQ - AC Adapter for TOSHIBA SATELLITE,Bestbuy.com
3,AVpfVJXu1cnluZ0-iwTT,290.99,1001,DreamWave,DreamWave - Tremor Portable Bluetooth Speaker ...,Bestbuy.com
4,AVphUeKeilAPnD_x3-Be,244.01,1004,Yamaha,NS-SP1800BL 5.1-Channel Home Theater System (B...,Growkart
...,...,...,...,...,...,...
1240,AVphFybdLJeJML43Wnza,64.95,1110,JBL,"JBL - 6 x 9"" 3-Way Car Speakers with Polypropy...",Generation Tech
1241,AVpe_qIa1cnluZ0-bjrN,871.06,1002,HP,HP - ProBook 14 Laptop - Intel Core i5 - 4GB M...,Walmart.com
1242,AVphibxI1cnluZ0-DpxG,74.95,1238,Magellan,Magellan Roadmate 5322-LM 5 Touchscreen Portab...,Action Gear
1243,AVpgrtW3ilAPnD_xv67M,294.35,1239,Pyle Pro,PMX840BT Bluetooth 8-Channel 800-Watt Powered ...,Overstock.com
1244,AVpgibRDLJeJML43PTZX,129.99,1001,naxa,naxa - 2.1-Channel Soundbar with 50-Watt Digit...,Bestbuy.com

In [70]:
len(merchants)

240

## Save to excel

In [75]:
df.to_excel('new_products.xlsx', index=None, sheet_name='Products')

### ExcelWriter

In [76]:
writer = pd.ExcelWriter('new_excel_file.xlsx')

In [77]:
with writer:
    products.to_excel(writer, sheet_name='Products', index=None)
    merchants.to_excel(writer, sheet_name='Merchants', index=None)